
.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.formWrapper{
    width: 1000px;
    background-color: white;
    padding: 3rem;
}