.invoiceItem {
    display: flex;
    column-gap: 1rem;
    padding: 1em 0;
    overflow-x: hidden;
}

.invoiceItem:not(:last-of-type) {
    border-bottom: 1px grey dashed;
}

/* .invoiceItem > * {
    flex: 1 1 auto;
    
} */

.miniThings {
    display: flex;
    column-gap: .5rem;
    width: 40%;
}

.miniThings > * {
    flex: 1
}

.description,
.quantity,
.price {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}

.description {
    flex: 1 
}

.quantity,
.price,
.total {
    width: 15%;
}

.total p{
   margin-top: 1rem
}


.description input,
.quantity input,
.price input {
    padding: 1rem .5rem;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    margin-bottom: 1rem;
}

.description input:focus,
.quantity input:focus,
.price input:focus {
    outline: none;
    border-color: tomato;
}

.description label,
.quantity label,
.price label {
    padding: 0;
}


/* -------------MEDIA QUERIES ------------ */

@media only screen and (max-width: 912px) {

    .miniThings {
        display: flex;
        column-gap: .5rem;
    }

}


@media only screen and (max-width: 768px) {
    .invoiceItem {
        display: flex;
        column-gap: .5rem;
        padding: .5rem;
    }

    .miniThings {
        display: flex;
        column-gap: .5rem;
    }

    .description label,
    .quantity label,
    .price label,
    .total label {
        padding: 0;
        font-size: .9rem;
    }

}

@media only screen and (max-width: 540px) {
    .invoiceItem {
        display: flex;
        flex-direction: column;
        column-gap: .6rem;
        padding: .5rem;
    }

    .description {
        flex: 0;
        width: 100%
    }

    .miniThings {
        display: flex;
        width: 100%;
        column-gap: .3rem;
    }
    
    .quantity,
    .price,
    .total {
        flex: 1;
    }
    
    .total p{
       margin-top: 1rem
    }

    .description label,
    .quantity label,
    .price label,
    .total label {
        padding: 0;
        font-size: .9rem;
    }

}

@media only screen and (max-width: 414px) {
    .invoiceItem {
        display: flex;
        flex-direction: column;
        column-gap: .6rem;
        padding: .5rem;
    }

    .description {
        flex: 0;
        width: 100%
    }

    .miniThings {
        display: flex;
        width: 100%;
        column-gap: .3rem;
    }
    
    .quantity,
    .price,
    .total {
        flex: 1;
    }
    
    .total p{
       margin-top: 1rem
    }

    .description label,
    .quantity label,
    .price label,
    .total label {
        padding: 0;
        font-size: .9rem;
    }
}


@media only screen and (max-width: 393px) {
    .invoiceItem {
        display: flex;
        flex-direction: column;
        column-gap: .6rem;
        padding: .5rem;
    }

    .description {
        flex: 0;
        width: 100%
    }

    .miniThings {
        display: flex;
        width: 100%;
        column-gap: .3rem;
    }
    
    .quantity,
    .price,
    .total {
        flex: 1;
    }
    
    .total p{
       margin-top: 1rem
    }

    .description label,
    .quantity label,
    .price label,
    .total label {
        padding: 0;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 375px) {
    .invoiceItem {
        display: flex;
        flex-direction: column;
        column-gap: .6rem;
        padding: .5rem;
    }

    .description {
        flex: 0;
        width: 100%
    }

    .miniThings {
        display: flex;
        width: 100%;
        column-gap: .3rem;
    }
    
    .quantity,
    .price,
    .total {
        flex: 1;
        width: calc(100% / 3)
    }
    
    .total p{
       margin-top: 1rem
    }

    .description label,
    .quantity label,
    .price label,
    .total label {
        padding: 0;
        font-size: .9rem;
    }

}

@media only screen and (max-width: 320px) {


}