.headerWrapper h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.textWrapper span{
    font-size: 2rem;
    font-weight: 300;
}

.headerWrapper {
    background-color: rgb(68, 116, 170);
    padding: 2rem 3rem;
}

@media only screen and (max-width: 500px) {

    
    
    }